<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="static-page file_safety_page">

    <div class="static-page__header">
        <h1 class="static-page__header-title">File Saftey</h1>
    </div>

    <section class="static-page__content">
        <p>We understand that writers are correctly concerned about the safety of both their ideas and their manuscripts. BubbleCow was set up by writers, and we understand these concerns.</p>
        <p>At BubbleCow, we work exclusively with digital files (Word documents to be more accurate). We take every step to ensure that your files are kept safe at each stage.</p>
        <p>When you first submit to BubbleCow, you will be asked to upload your file to our secure server. </p>
        <p>We take every step possible to ensure that your ideas and manuscripts are kept safe at every step of the process. In fact, our whole process has been designed with security in mind. When you upload the file to our server, the file actually bypasses our website and is stored on Amazon’s S3 server. The Amazon server is safe by design, but we take additional steps to ensure the maximum security. If you want to read more, <a href="https://read.acloud.guru/how-to-secure-an-s3-bucket-7e2dbd34e81b" target="_blank">here’s an article about the safety of S3</a>.</p>
        <p>In short, the server can only be accessed via someone that is logged into our site and has permission to access that particular manuscript. As the site is set up, that is only someone with admin clearance, you and your editor that can access your manuscript.</p>
        <p>In regard to ‘soft access’ (people that we permit to access your manuscript), the process is as follows. </p>
        <ul>
            <li>You submit for edit, and the senior editor is permitted to access your manuscript so the book can be assessed. </li>
            <li>Once the book has been accepted or rejected, the senior editor’s permission is revoked, and they can no longer access your manuscript. </li>
            <li>When an editor is assigned to edit your book, they are permitted to access your manuscript. Once the edit has been completed and returned, this permission is revoked.</li>
        </ul>
        <p>The only time a manuscript will leave our server is for editing. During the assessment and editing stages, a copy of your manuscript is placed in our internal business Dropbox account, and the editor is given ‘permission’ to access the manuscript. A copy of the manuscript is then placed on their local machine for editing. Once the editing process is complete, the file is uploaded back to the server, and the local copy is removed from the editor's computer and the Dropbox account. </p>
        <p>For those interested in learning more about the security of Dropbox, <a href="https://www.dropbox.com/help/security/safe-to-use" target="_blank">here’s an article that will help.</a></p>
    </section>

    </div>
</div>
</div>