
    <div class="header">
        <h1 class="static-page__header-title">Terms and Conditions</h1>
    </div>

    <section class="static-page__content">
        <p>BubbleCow is a UK-based company, providing editorial services to writers across the world. </p>
        <p>These terms and conditions, together with our <%= link_to "privacy policy", privacy_policy_path %> govern BubbleCow’s relationship with writers in relation to our services and website usage.</p>
        
        <h2 class="static-page__sub-title">Developmental Editing</h2>
        <ul>
            <li>For the fee provided by the writer, we undertake to provide a one-off developmental edit of a submitted manuscript of a word length specified by the writer at the time of submission. </li>
            <li>The fee covers the developmental edit of the manuscript and the accompanying editor’s report. It also covers all pre- and post-edit interactions related to the developmental edit be that via email, phone, in person or via video. </li>
            <li>BubbleCow requires correct payment in order to proceed with the developmental edit.</li>
            <li>We will decide in-house who is the most suitable editor for the developmental edit, and aim to make a good match. BubbleCow’s decision is final in the choice of editor.</li>
            <li>Amended manuscripts cannot be accepted once the manuscript has been assigned to an editor.</li>
            <li>We reserve the right to return the writer’s manuscript and payment should we fail to find a suitable editor or other extenuating circumstances arise that prevent the developmental edit taking place. In these exceptional circumstances, a full refund will be issued within seven working days of the writer being informed.</li>
            <li>We aim to provide the developmental edit within twenty-eight business days of payment but cannot guarantee this, and we will make every effort to meet this deadline. If the deadline is extended, the writer will be informed via email at the earliest opportunity. </li>
            <li>If the developmental edit is deemed unclear both in the view of the client and BubbleCow, we will seek clarification from the editor and advise accordingly. </li>
        </ul>
        
        <h2 class="static-page__sub-title">Manuscript Assessment</h2>
        <ul>
            <li>For the fee provided by the writer, we undertake to provide a one-off manuscript assessment of a submitted manuscript of a word length specified by the writer at the time of submission. </li>
            <li>The fee covers the manuscript assessment and the accompanying editor’s report. It also covers all pre- and post-edit interactions related to the manuscript assessment be that via email, phone, in person or via video. </li>
            <li>BubbleCow requires correct payment in order to proceed with the manuscript assessment.</li>
            <li>We will decide in-house who is the most suitable editor for the developmental edit, and aim to make a good match. BubbleCow’s decision is final in the choice of editor.</li>
            <li>Amended manuscripts cannot be accepted once the manuscript has been assigned to an editor.</li>
            <li>We reserve the right to return the writer’s manuscript and payment should we fail to find a suitable editor or other extenuating circumstances arise that prevent the manuscript assessment. In these exceptional circumstances, a full refund will be issued within seven working days of the writer being informed via email.</li>
            <li>We aim to provide the manuscript assessment within fourteen business days of payment but cannot guarantee this, and we will make every effort to meet this deadline. If the deadline is extended, the writer will be informed at the earliest opportunity via email. </li>
            <li>If the manuscript assessment is deemed unclear both in the view of the client and BubbleCow, we will seek clarification from the editor and advise accordingly. </li>
        </ul>
        
        <h2 class="static-page__sub-title">Mentoring</h2>
        <ul>
            <li>For the fee provided by the writer, we undertake to provide a mentoring service, as described <a href="https://bubblecow.com/mentoring">here</a>, for the submitted manuscript of a word length specified by the writer at the time of submission. </li>
            <li>BubbleCow requires correct payment in order to proceed with each round of mentoring.</li>
            <li>We will decide in-house who is the most suitable mentor, and aim to make a good match. BubbleCow’s decision is final in the choice of mentor.</li>
            <li>We reserve the right to return the writer’s manuscript and payment should we fail to find a suitable mentor or other extenuating circumstances arise that prevent the mentoring process. In these exceptional circumstances, a full refund will be issued within seven working days of the writer being informed via email.</li>
            <li>We aim to provide the mentoring within a timeframe agreed upon between the mentor and writer, but cannot guarantee this and we will make every effort to meet this deadline. If the deadline is extended, the writer will be informed at the earliest opportunity via email. </li>
        </ul>
        
        <h2 class="static-page__sub-title">Manuscripts</h2>
        <ul>
            <li>Manuscripts will be submitted in a suitable digital format. We don’t accept paper submissions or PDF format.</li>
            <li>Whilst we are broadminded and accept that writing deals with subject matter of all kinds, we reserve the right not to accept work if we deem it to be excessively and unacceptably offensive.</li>
            <li>The copyright of the writer’s work is automatically that of the writer and remains so at all times.</li>
            <li>The copyright of ant editorial feedback remains with BubbleCow. Permission should be sought from BubbleCow before quoting a report, for example to agents or on personal websites.</li>
            <li>All editorial services will be carried out using Microsoft Word. </li>
        </ul>
        
        <h2 class="static-page__sub-title">Code of Conduct</h2>
        <ul>
            <li>Your work will be treated in the strictest confidence.</li>
            <li>You can read our approach to file safety <%= link_to "here", file_safety_path %>.</li> 
            <li>Whilst we understand that receiving editorial feedback is a sensitive process, and whilst we wish to work with as wide a range of writers as possible, we expect writers to behave in a professional manner and reserve the right to stop working with a writer should their manner be offensive to our staff. If this situation arises, the writer will be informed in writing.</li>
            <li>In cases where the writer wishes to lodge a complaint, we ask that you send us an email no earlier than one week after receiving your editorial feedback. We will do our utmost to resolve the situation. We ask that any feedback of this nature be submitted to us within no longer than six weeks of receipt of your report in order to help us resolve issues whilst the editor has the text relatively fresh in their mind. We cannot deal with complaints raised more than six weeks after receipt of your feedback.</li>
            <li>By completing a testimonial for BubbleCow, you are agreeing to its use, along with the name provided, for promotion and publicity purposes. </li>
        </ul>
        
        <h2 class="static-page__sub-title">Website Usage</h2>
            <p>By using the website (https://bubblecow.com), you are agreeing to comply with and be bound by the following terms and conditions of use.</p>
            <p>The use of our website is subject to the following terms of use:</p>
        <ul>
            <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
            <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
            <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
            <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
            <li>All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.</li>
            <li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
            <li>From time to time, this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
            <li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of England, Northern Ireland, Scotland and Wales.</li>
        </ul>
    </section>

</div>
</div>
</div>

