<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="static-page thanks-page">

        <div class="static-page__header">
            <h1 class="static-page__header-title">Thank You</h1>
        </div>
    
        <section class="static-page__content">
             <p>Your payment has been processed. We will be in touch shortly.</p>
        </section>
   

</div>
</div>
</div>

