
        <div class="header">
            <h1 class="static-page__header-title">Thank You</h1>
        </div>
    
        <section class="static-page__content">
             <p>Your payment has been processed. We will be in touch shortly.</p>
        </section>
   


