<!-- title -->
<div class="header messages-new__header">
    <h1 class="messages-new__header-title">Get in Touch</h1>
</div>

<section class="messages_new__content">
    <%= render 'form', message: @message %>
</section>

<a aria-label="Chat on WhatsApp" href="https://wa.me/07587487331">
    <%= image_tag 'WhatsAppButtonGreenLarge.svg', alt: 'Chat on WhatsApp' %>
</a>
