<div class="row justify-content-center">
    <div class="col-12 col-lg-6">
    
        <div class="message_page">

            <div class="message-page__header">
                <h1 class="message-page__header-title">Get in Touch</h1>
            </div>

            <section class="message_page__content">
                <%= render 'form', message: @message %>
            </section>

        </div>

    </div>
</div>
