<div class="card messages-show">
    <div class="card-body">

        <section class="header messages-show__header">
            <h1 class="messages-show__header-index"><%= @message.sender_name %></h1>
        </section>

        <div class="messages-show__content">
            <p>Email: <%= @message.sender_email %></p>
            <%= @message.content %>

            <%= message_status_actions(@message) %>
        </div>

    </div>
</div>

