<section class="page-header">
    <h1></strong> <%= @message.sender_name %></h1>
</section>

<section class="page-body">

    <div class="box">

        <p><strong>Email: </strong><%= @message.sender_email %></p>
        <%= @message.content %>

        <%= message_status_actions(@message) %>

    </div>


</section>

