<div class="header message-thank-you__header">
  <h1 class="message-thank-you__header-title">Thank You</h1>
</div>
    
<div class="message-thank-you__content">
  <p>Thanks for the message, we will be in touch shortly.</p>
</div>
