<main class="post-form" id="post-edit">
    <%= render 'form', post: @post %>
</main>




    <div itemscope itemtype="https://schema.org/ImageObject">
      <img 
        alt="alt text goes here" 
        itemprop="contentUrl" 
        src="https://bubblecow.com/assets/average-short-story-word-count" 
        class="post-media img-fluid rounded mx-auto d-block mt-1 mb-1" 
        width="300" height="300"
        />
      <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
        <meta itemprop="name" content="Gary Smailes" />
      </span>
      <span itemprop="copyrightNotice">Gary Smailes</span>
      <span itemprop="creditText">BubbleCow</span>
    </div>
