<div class="row justify-content-center">
  <div class="col-12 col-lg-8">
    <div class="customer_pages">

    <div class="customer_pages__header">
        <h1 class="customer_pages__header__title">Become a better writer</h1>
        <p>First-rate content to help you learn and grow as a writer</p>
    </div>



<section class="page-body">
  <div class="row">

    <div class="col-lg-8  ">
      <!-- Left column -->
      <% @posts.each do |post| %>
        <!-- blog post layout -->
        <%= render "shared/blog_post_layout", post: post %>
      <% end %>
    </div>

    <!-- Right column -->
    <div class="col-lg-4 ">
      <!-- blog sidebar -->
      <%= render "shared/blog_sidebar" %>
    </div>

  </div>
</section>


</div>
</div>
</div>


