<main class="blog" id="blog-index">
  <div class="blog-main">
    <% @posts.each do |post| %>
      <%= render "shared/post_card", post: post%>
    <% end %>
  </div>
  <div class="blog-sidebar">
    <aside class="blog-sidebar">
      <%= render "/shared/sidebar" %>
    </aside>
  </div>
</main>
