<!-- Header -->
<div class="header posts-index__header">
    <h1 class="posts-index__header-title">Become a better writer</h1>
    <p class="posts-index__header-subtitle">First-rate content to help you learn and grow as a writer</p>
</div>

<!-- Body -->
<section class="row">

    <!-- Left column for Posts -->
    <div class="col-lg-8">
        <% @posts.each do |post| %>
            <!-- Individual Blog Post -->
            <%= render "shared/post_card", post: post %>
        <% end %>
    </div>

    <!-- Right column for Sidebar -->
    <div class="col-lg-4">
        <!-- Blog Sidebar Content -->
        <%= render "shared/posts_sidebar" %>
    </div>

</section>


  






