<main class="blog">
  <div class="row">

    <!-- Left column -->
    <div class="col-lg-9">
      <% @posts.each do |post| %>
        <!-- blog post layout -->
        <%= render "shared/blog_post_layout", post: post %>
      <% end %>
    </div>

    <!-- Right column -->
    <div class="col-lg-3">
      <!-- blog sidebar -->
      <%= render "shared/blog_sidebar" %>
    </div>

  </div>
</main>