<main class="blog">

  <section class="blog-layout">

    <div class="blog-layout-left">
        <% @posts.each do |post| %>
          <!-- blog post layout -->
          <%= render "shared/blog_post_layout", post: post %>
        <% end %>
    </div>

    <div class="blog-layout-right">
      <!-- blog sidebar -->
      <%= render "shared/blog_sidebar" %>
    </div>

  </section>

</main>