<main class="page" id="sample_developmental-edit-form-edit">

    <div class="services-form">
        <h1>Edit <%= @sample_developmental_edit.title.titleize%></h1>

        <%= render 'form', sample_developmental_edit: @sample_developmental_edit %>
    </div>

</main>
