<h1>Submit your book for sample developmental editing</h1>

<div class="box">
    <div class="form">
        <%= render 'form', sample_developmental_edit: @sample_developmental_edit %>
    </div>
</div>