<main class="page" id="sample_developmental-edit-form-new">

    <div class="services-form box">
        <h1>Submit your book for sample developmental editing</h1>
        <%= render 'form', sample_developmental_edit: @sample_developmental_edit %>
    </div>

</main>