<aside class="col-md-4">

    <div class="card bg-light border-light mb-3">
        <div class="card-body">
            <h3 class="card-title">About <span class="brand_font"><%= bubblecow_name %></h3>
            <hr>
            <p>BubbleCow's goal is to provide world-class editorial feedback and customer support, at a price that is affordable to self-published writers.</p>
            <p>BubbleCow is an editing company that was born into the modern world of self-publishing. We have developed a way of editing that not only shows you what’s wrong with your book but gives you all the guidance you need to fix the mistakes.</p>
            <p>For us, the quality of the feedback is everything.</p>
            <p class="card-text"><%= link_to "Learn more about our story here...", about_path, class: "card-link" %></p>
        </div>
    </div>

    <div class="p-3 mt-4">
        <h4>Free eBooks</h4>
        <p>The best way to learn is by doing. FOR FREE you can get tried and tested guidence just by studying these guides. They're here for you.</p>
        <ol class="list-unstyled mb-0">
            <li> > <%= link_to "The Writing Manual", "https://bubblecow.com/writing_manual" %></li>
            <li> > <%= link_to "More free ebooks", "https://proactivewriter.com/" %></li>
        </ol>
    </div>
    
    <div class="p-3 mt-4">
        <h4>Getting Started</h4>
        <p>Turning your book into a success requires great writing and great book marketing. Here's some articles that will help you get started: </p>
            <ol class="list-unstyled mb-0">
              <li class="mb-2"> > <a href="https://bubblecow.com/blog/how-to-get-the-most-from-your-professional-book-editing-service">How To Get The Most From Your Professional Book Editing Service</a></li>
              <li class="mb-2"> > <a href="https://bubblecow.com/blog/types-of-editing">How To Decide Which Editing Type Is Best For Your Book</a></li>
              <li> > <a href="https://bubblecow.com/blog/how-to-self-edit-your-book-pre-edit-checklist">How To Self Edit Your Book [Pre Edit Checklist]</a></li>
            </ol>
    </div>


</aside><!-- /.blog-sidebar -->

