<aside class="col-md-4">

    <div class="card bg-light border-light mb-3">
        <div class="card-body">
            <h3 class="card-title">About <span class="brand_font"><%= bubblecow_name %></h3>
            <hr>
            <p>BubbleCow's goal is to provide world-class editorial feedback and customer support, at a price that is affordable to self-published writers.</p>
            <p>BubbleCow is an editing company that was born into the modern world of self-publishing. We have developed a way of editing that not only shows you what’s wrong with your book but gives you all the guidance you need to fix the mistakes.</p>
            <p>For us, the quality of the feedback is everything.</p>
            <p class="card-text"><%= link_to "Learn more about our story here...", about_path, class: "card-link" %></p>
        </div>
    </div>
    
    <div class="p-3 mt-4">
        <h4>Getting Started</h4>
        <p>Turning your book into a success requires great writing and great book marketing. Here's some articles that will help you get started: </p>
            <ol class="list-unstyled mb-0">
              <li> > <a href="https://bubblecow.com/blog/show-don-t-tell-the-key-to-becoming-a-better-writer">Show Don’t Tell</a></li>
              <li> > <a href="https://bubblecow.com/blog/using-beta-readers">Getting The Most From Beta Readers</a></li>
              <li> > <a href="https://bubblecow.com/blog/how-to-self-edit-your-book-the-pre-edit-checklist">Self-editing: Tips From The Pros</a></li>
            </ol>
    </div>

    <div class="p-3 mt-4">
        <h4>Free eBooks</h4>
        <p>The best way to learn is by doing. FOR FREE you can get tried and tested guidence just by studying these guides. They're here for you.</p>
        <ol class="list-unstyled mb-0">
            <li> > <%= link_to "ProActive Writing Manual", "https://proactivewriter.com/" %></li>
        </ol>
    </div>

    <div class="p-3 mt-4">
        <h4>Categories</h4>
        <p>We've loads of articles that will provide you with the skills and tools you need to put yourself on the road to success. Here's the categories to help you find what works for you.</p>
            <ol class="list-unstyled mb-0">
                <% @categories.each do |category| %>
                  <li> > <%= link_to category.name, blog_post_category_path(category) %></li>
                <% end %>
            </ol>
    </div>

</aside><!-- /.blog-sidebar -->

