<div class="row justify-content-center">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">

<%= render template: "devise/registrations/new", locals: { resource: @resource, resource_name: @resource_name } %>

    </div>
</div>





