<main class="" id="admin-area-genres">

    <div class="admin-card">
        <p><%= link_to "New Genre", new_services_genre_path, class: "btn btn-sm btn-outline-primary" %></p>
        <ul>
            <% @genres.each do |genre| %>
                <li><%= link_to genre.genre_type, services_genre_path(genre) %> | <%= link_to "edit", edit_services_genre_path(genre) %> | <%= link_to "delete", services_genre_path(genre), method: :delete, data: { confirm: "Are you sure you want to kill this bad boy?"} %></li>
            <% end %>
        </ul>
    </div>

</main>