<main class="page" id="admin-area-services">
    <h1>Services</h1>

    <h2>Developmental Edits</h2>
    <ul>
        <% @developmental_edits.each do |edit| %>
            <li><%= link_to edit.title, services_developmental_edit_path(edit) %></li>
        <% end %>
    </ul>
</main>