<main class="page" id="admin-area-testimonials">

    <h1>Testimonials</h1>
    <p><%= link_to "New Testimonial", new_testimonial_path, class: "btn btn-sm btn-outline-secondary" %></p>
    <ul>
        <% @testimonials.each do |testimonial| %>
            <li><%= link_to testimonial.writer, testimonial_path(testimonial) %> | <%= link_to "edit", edit_testimonial_path(testimonial) %> | <%= link_to "delete", testimonial_path(testimonial), method: :delete, data: { confirm: "Are you sure you want to kill this bad boy?"} %></li>
        <% end %>
    </ul>

</main>