<!-- Writing Manual Advert -->
<div class="advert-cover-image"> 
  <%= image_tag("proactive-writing-manual-cover-small", :alt => "Writing Manual", class: "", size: "" ) %>
</div>

<div class="advert-copy"> 

  <div class="advert-text">
    <p>Claim your free eBook today and join over 25,000 writers who have read and benefited from this ebook.</p>
    <p><em>'It is probably one of the best books on writing I've read so far.' Miz Bent</em></p>
    <%= link_to "Find out more...", writing_manual_path %>
     <%= render 'blog/posts/adverts/writing_manual_ac_form'%>
  </div>

</div>
            