<!-- Writing Manual Advert -->
<div class="row">

  <div class="col-lg-6">
    <p>Claim your free eBook today and join over 25,000 writers who have read and benefited from this ebook.</p>
    <blockquote>'It is probably one of the best books on writing I've read so far.' Miz Bent</blockquote>

    <div class="d-grid gap-2 pt-3">
      <%= link_to "Download ebook for free...", ebooks_path, class: "btn btn-outline-primary btn-lg" %>
    </div>
  </div>

  <div class="col-lg-6">
    <%= image_tag("writing-manual-cover-small", :alt => "Writing Manual", class: "img-fluid rounded mx-auto d-block", size: "200x283" ) %>
  </div>

</div>



            