<!-- Writing Manual Advert -->
<article class="row justify-content-md-center">
    <div class="col col-lg-8">
    <hr class="pb-4 pt-4">
         <div class="row">
            <div class="col-sm-4">
                <%= image_tag('proactive-writing-manual-cover-small', alt: "Writing Manual Cover", class: "rounded float-left img-fluid mb-3") %>
            </div>
            <div class="col-sm-7">
                <p class="lead">Free eBook to help you write novels that readers will love.</p>
                <p class="mb-4">This <strong>free ebook</strong> will show you how to write in a way that will keep readers reading until the last page.</p>
                <%= form_for [@writing_manual] do |writing_manual| %>
                    <%= writing_manual.email_field :email, class: 'form-control form-control-lg mb-3', placeholder: "Your best email" %>
                    
                    <div class="actions">
                      <button type="submit" class="btn btn-block btn-primary mb-2">Get FREE ebook today!</button>
                    </div>
                <% end %>
            </div>
           </div>
    </div>
</article>
