<main class="page" id="developmental-editing">

    <ul>
        <li><%= link_to "Submit Sample", root_path %></li>
        <li><%= link_to "Submit Edit", new_services_developmental_edit_path %></li>
    </ul>

</main>