this will be optimised for book editing

<main class="page" id="services-index">

    <ul>
        <li><%= link_to "Reader's Report", services_readers_report_path %></li>
        <li><%= link_to "Book Editing", services_developmental_editing_path %></li>
        <li><%= link_to "Mentoring", services_mentoring_path %></li>
    </ul>

</main>