<!-- 

Not sure what to do with this bad boy, need to ensure that we are optimizing for a search term different from fornt page. 

It makes sense for this to be 'book editing services' but what woudl this make the front page? This needs some thought. However, fornt page already ranks for 'affordable book editing services, so makes sens to just redriect this services index page. '

<main class="page" id="services-index">

    <ul>
        <li><%= link_to "Manuscript Assessment", services_manuscript_assessment_path %></li>
        <li><%= link_to "Book Editing", services_developmental_editing_path %></li>
        <li><%= link_to "Mentoring", services_mentoring_path %></li>
    </ul>

</main>

-->