// This is styling for courses.

.index {

    .course-description {
        padding: 3rem;
    }

    .cta-button  {
        padding-top: 1.5rem;
    }

}


.show {

    .header {

        h1, h2 {
            text-align: center;
        }

    }

    .course-description {
        padding-bottom: 1rem;
    }

    .lesson-buttons {
        margin-top: 2rem;
        padding-top: 1rem;
        border-top: 1px solid $slate;
        display: flex;
        justify-content: space-between;
    }

    .post-media {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
