// Styling for customer pages controller

.book-editing-portal {

    .header {
        padding-bottom: 2rem;
        p {
        
        }
    }

    h2 {
        padding-bottom: 1rem;
    }
    

    li {
        padding-bottom: 0.5rem;
    }

}