// Styling for customer pages controller

.book-editing-portal {

    .header {
        padding-bottom: 2rem;
        p {
        
        }
    }

    h2 {
        padding-bottom: 1rem;
    }
    

    li {
        padding-bottom: 0.5rem;
    }

}

.services {

    .background {
        background-color: $paler-slate;
    }

    .testimonial-background {
        background-color: $pale-slate;
    }

    section {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 5rem;
    }

    .information, .pannels,  {
        h2 {
            margin-bottom: 1.25rem;
        }
    }
}