// Styling the dashboard controller

.dashboard__card-title {
    // Styles the title in cards
    margin-bottom: 2rem;
}




// Styles the getting started partial

.dashboard-getting-started__card-buttons {
    // Styles the button block in the card
    margin-top: 2rem;
    margin-bottom: 2rem;
}