/* 

This file must load first via teh application.scss

These are site wdie mixins and colour changes. 

*/

// Mixins
@mixin standard-border {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

@mixin backend-box {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    background-color: white;
    padding: 1rem;
}


// Primary colours - These should always be considered as the primary colors. Black is to be used very sparingly.
$pay-blue: #00457C !default;
$pal-blue: #0079C1 !default;

// Neutral colours - The neutral palette is intended to be used sparingly to organize information and create functional environments
$sand: #959484 !default;
$pale-sand: #E7E5D3 !default;
$slate: #717074 !default;
$pale-slate: #E6E7E8 !default;
$paler-slate: #f3f5f7 !default;
$night: #2c2e2f !default;

// Accent colours - use the accent palette to create visual interest and engagement. Please note the color pairings, the colors that appear next to one another are intended to be used together, DO NOT mix 

$leaf: #6DB33f !default;
$lime: #C2CD23 !default;
$sea: #007C85 !default;
$aqua: #26BCD7 !default;
$tomato: #B32317 !default;
$tangerine: #f8981D !default;
$plum: #7A003C !default;
$berry: #f15f7C !default;

$primary: $pal-blue;
$secondary:  $pale-slate;
$success: $leaf;
$info: $aqua;
// $warning:    $warning,
$danger: $plum;

// Fonts
$font-family-base: 'Poppins', sans-serif;