// Styles the ebooks controller

/* This styles SHOW */

.ebooks-show {
    // Styles the page
    margin-top: 3rem;
}

.ebooks-show__title {
    // Styles the title
}

.ebooks-show__buttons {
    // Styles the buttons block
    margin-top: 3rem;
    margin-bottom: 3rem;
}