// Styling that is accessable across the site



/* Tags */
a {
        text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: $pay-blue;
}


/* Page Header */
.header {
    // Styles the header div at the top of pages
    margin-top: 3rem;
    margin-bottom: 3rem;
}
