// Styling that is accessable across the site

/* Typography - this is styling for elements related to typography */

a {
    text-decoration: none;
    color: $pay-blue;
}

h1, h2, h3, h4, h5, h6 {
    color: $pay-blue !important;
}

// Makes button_to an inline element
.button_to,
.button_to div {
  display: inline;
}

/* Navbar - styling related to the navbar */

.navbar {
    margin-bottom: 0rem;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.1); /* Slightly darker shadow for better visibility */
    animation: navigation 0.6s;
    -webkit-animation: navigation 0.6s; /* For WebKit browsers */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for shadow */
}

/* Branding - styling related to the bubblecow name*/

.brand-first-word {
    /* First word in bubblecow */
    color: $rebrand-primary;
}

.brand-second-word {
    /* Second word in BubbleCow */
    color: $rebrand-secondary;
}

.highlight {
    color: $rebrand-warm-gold;
}

/* Page Styles - this styling for elements that are related to pages */

.header {
    // Styles the header div at the top of pages
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/* Card - this is styling related to the card */

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}
  
.card:hover {
    transform: translateY(-5px); /* Move the card up on hover */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Enhance shadow on hover */
}
