// Mixins for the site

/* Blockquote - sytling for the global blockquote */
@mixin blockquote {
    padding-left: 1rem;            /* Provides space between the text and the border */
    border-left: 4px solid #ccc;   /* Gray border on the left */
    color: #555;                   /* Darker gray text color for contrast */
    font-style: italic;            /* Typically, blockquotes are italicized */
    margin-left: 0;                /* Reset left margin */
    margin-right: 0;               /* Reset right margin */
}

/* TOC -  Styles the table of contents */

@mixin toc {
    // styles the toc
    margin-top: 3rem;
    margin-bottom: 3rem;

    .card-header {
        // styles the title
        font-size: 1.25rem;
    }

    .card-body {
        // Styles the body

        ul {
            li {
                // Existing styles for list items

            }

            li a {
                // style the link
            }
        }

        p {
            // style the answer text
        }
    }
}

// Note that this is outside the TOC, it can probably be moved into the mixin but I can't get it to work. This is a temp solution. 
.child-link {
    // Indent child link's anchor
    margin-left: 1rem; // Adjust this value as needed
}


// DEL THESE?
@mixin header-text {
    color: $pay-blue !important;
    text-transform: capitalize;
}



@mixin standard-border {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

@mixin backend-box {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    background-color: white;
    padding: 1rem;
}
