// Mixins for the site

@mixin header-text {
    color: $pay-blue !important;
    text-transform: capitalize;
}

@mixin blockquote {
    padding-left: 1rem;            /* Provides space between the text and the border */
    border-left: 4px solid #ccc;   /* Gray border on the left */
    color: #555;                   /* Darker gray text color for contrast */
    font-style: italic;            /* Typically, blockquotes are italicized */
    margin-left: 0;                /* Reset left margin */
    margin-right: 0;               /* Reset right margin */
}

@mixin standard-border {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

@mixin backend-box {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    background-color: white;
    padding: 1rem;
}
