// Styleing the post cards

.post-card {
    // Styles the card
    margin-bottom: 2rem;
}

.post-card__title {
    // Styles the card title
}

.post-card__metadata {
    // Style the metadata
    margin-bottom: 1rem;
}

.post-card__image {
    // Style the image
}

.post-card__description {
    // styles descritpion
}

.post-card__read-more {
    // Styles the read more link
    margin-top: 1rem;
}