// Styling the static pages

.static-page__header-title {
    // Styles the title
}

.static-page__content {
    // styles for the content
}

.static-page__sub-title {
    // Styles the subtitle
    margin-top: 2rem;
}

.static-page__media {
    // Styles pics and videos etc
    margin-top: 2rem;
    margin-bottom: 2rem;
}