  <p>Your sample has been accepted and is currently being edited.</p>
  <p>Your feedback will be returned within <strong>twenty-four</strong> hours.</p>
  <p>You will receive an email when your feedback is ready for you to download from this page.</p>