<p>Hi <%= @developmental_edit.user.name.first %>.</p>

<p>We've completed your edit for <%= @developmental_edit.title.titleize %> and it is now ready for you to download.</p>

<p>You just need to click the link below and log in:</p>

<p><a href="https://bubblecow.com/">DOWNLOAD YOUR FILES</a></p>

<p>Just drop me an email if you have any questions.</p>

<p>Gary Smailes</p>

