
    <p>Hi <%= @developmental_edit.user.name.first %>.</p>
    <p>Thank you for submitting to BubbleCow for a book edit. Unfortunately, we do not feel that your book is a good match for our services. We will, therefore, not be providing an edit.</p> 
    <p>There are many reasons why we rejected manuscripts, the most common being:</p>
    <ul>
      <li>The manuscript requires too much work for our editing approach.</li> 
      <li>We don’t edit the type of work. We currently do not accept poetry, short stories, cookbooks or highly technical non-fiction.</li>
      <li>We don’t have the correct type of editor.</li>
    </ul>
    
    <p>I would like to suggest two things you can do at this point:</p>
    
    <p>Read our <a href="https://bubblecow.com/writing-manual">free ebook on writing</a>. This will highlight our editing style and steps you can take to improve your book.</p>
    <p>Consider employing a freelance editor. I’d suggest you try <a href="https://www.fiverr.com/search/gigs?utf8=%E2%9C%93&source=top-bar&locale=en&search_in=everywhere&query=book+editing">Fiverr</a>.</p>
    <p>I wish you all the best for your book.</p>
    <p>Please don't hesitate to email if you have any questions.</p>
    <p>Gary Smailes</p>

