
    <p>Hi <%= @developmental_edit.user.name.first %>.</p>
    <p>I have just sent an invoice from our payment platform; you will get it shortly.</p>
    <p>We use PayPal as our payment processor, which means we can accept payments from across the globe.</p>
    <p>You don't need a PayPal account to pay for your edit; you can use most cards without creating an account.</p>
    <p>You will be asked to provide some personal information; this is for PayPal to process the payment. We don't use this information in any way.</p>
    <p>If you have any issues, just let me know, and I'll see what I can do to help.</p>
    <p>Gary Smailes</p>

