<p>Hi <%= @developmental_edit.user.name.first %>.</p>

<p>Thanks for payment.</p>

<p>Your edit is now underway.</p> 

<p>We expect to have your edited files back to you on, for before, <%= @developmental_edit.invoice_paid_date.strftime("%B %d") %>.</p>

<p>In the meantime, if you have any questions you can log into your account <a href="https://bubblecow.com">here</a> or, just email me.</p>

<p>Gary Smailes</p>