
    <p>Hi <%= @developmental_edit.user.name.first %>.</p>
    <p>Thanks for submitting to BubbleCow. I am delighted to say that your book has been accepted and we will be able to provide a full edit.</p> 
    <p>I'll be in touch shortly.</p>
    <p>Gary Smailes.</p>

