<p>Hi.</p>
    <p>Thanks for submitting your book for developmental editing.</p>
    <p>I will be in touch shortly.</p>
    <p>In the meantime, if you have any questions do let me know.</p>
    <p>Gary Smailes.</p>

