<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi.</p>
    <p>Thanks for submitting your book for book developmental book editing.</p>
    <p>I will be in touch shortly.</p>
    <p>In the meantime, if you have any questions do let me know.</p>
    <p>Gary Smailes</p>
  </body>
</html>
