.admin-container {
    display: flex;

    // Used on all admin pages
    .admin-card {
        @include standard-border;
        padding: 1rem;
        margin-bottom: 1rem;

        h2 {
            padding-bottom: 1rem;
        }
    }

    // Side navigation
    .admin-side-navigation {
        width: 200px;
        background-color: $pay-blue;
        margin-bottom: -5000px;
        padding-bottom: 5000px;

        .title {
            font-size: 1.5rem;
            padding-left: 1rem;
            padding-top: 1rem;
            color: white;
        }

        .admin-side-navbar {
            width: 200px;

            ul {
                list-style: none;
                padding-left: 1rem;
                color: white;
                display: flex;
                flex-direction: column;

                .admin-side-navbar-title {
                    color: $pale-slate;
                    text-transform: uppercase;
                    font-size: 0.9rem !important;
                    // padding-top: 1.25rem;
                    padding-bottom: 1rem;
                }

                .active {
                    color: $pal-blue;
                }

                li {
                    padding-bottom: 0.75rem;

                    a {
                        display: flex;
                        color: white;
                        opacity: 0.7;
                        transition: 0.3s;
                        font-size: 0.9rem;

                        &:hover {
                            opacity: 1;
                        }
                    }


                }

            }

        }

    }

    // Main admin area
    .admin-main {
        flex-grow: 1;

        .admin-top-navigation {}

        .admin-information {
            display: flex;
            padding-left: 3rem;
            padding-top: 1rem;

            .admin-information-left {
                width: 65%;
                padding-right: 6rem;

                .book-title {
                    padding-bottom: 1rem;
                }
            }

            // blog page
            #admin-area-blog {
                display: flex;
                flex-grow: 1;
                flex-wrap: wrap;
                padding-right: 1rem;

                .admin-card-first {
                    width: 48%;
                    margin-right: 2%;
                }

                .admin-card-not-first {
                    width: 23%;
                    margin-right: 2%;
                }
            }

            // Users page
            #admin-area-users {
                display: flex;
                flex-grow: 1;
                flex-wrap: wrap;
                padding-right: 1rem;

                .admin-card {
                    flex: 0 31%;
                    margin-right: 2%;
                }

            }

            // Testimonial page

            #admin-area-testimonials {
                display: flex;
                flex-grow: 1;
                flex-wrap: wrap;
                padding-right: 1rem;

                .admin-card {
                    width: 50%
                }
            }

            .admin-information-right {
                width: 35%;
                padding-right: 2rem;

                .section {
                    @include standard-border;
                    padding: 1rem;
                    margin-bottom: 1rem;

                    .title {
                        font-size: 1.65rem;
                        color: $pay-blue;
                    }
                }
            }

            // Services

            .jobs_container {
                display: flex;
                flex-wrap: wrap;

                .job_card {
                    @include standard-border;
                    margin-right: 2rem;
                    margin-bottom: 2rem;
                    padding: 1rem;
                }
            }

        }
    }
}