/* 

BLOG STYLING

This is styling that applies to all aspects of the blog.

*/


// Blog

.blog {

    padding-top: 2rem;

    .blog-layout {
        width: 90%;
        margin: auto;

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            width: 90%; 
            display: flex; 
         }

        // X-Large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) { 
            width: 55%; 
            display: flex; 
        }

        // XX-Large devices (larger desktops, 1400px and up)
        @media (min-width: 1400px) {
            width: 55%;
            display: flex;
        }

        .blog-layout-left {

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) { 
            width: 70%;
            margin-right: 2rem;
        }

        // X-Large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) { 
            width: 70%;
            margin-right: 2rem;
        }

        // XX-Large devices (larger desktops, 1400px and up)
        @media (min-width: 1400px) { 
            width: 70%;
            margin-right: 2rem;
        }

            .blog-post {

                .post-title {
               
                }

                .meta-data {
                    font-size: 0.75rem;
                    color: $slate;
                    padding-bottom: 1rem;
                }

                .post-image {
    
                }

                .category-tag {
                    padding-top: 0.5rem;
                }

                .post-description {
                    padding-top: 1rem;
                }

                .post-read-more {
                    padding-top: 1rem;
                }

            }
    
        }

        .blog-layout-right {
            display: none;

            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) { 
                width: 30%;
                display: flex;
                flex-direction: column;
            }

            // X-Large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) { 
                width: 30%;
                display: flex;
                flex-direction: column;
            }

            // XX-Large devices (larger desktops, 1400px and up)
            @media (min-width: 1400px) { 
                width: 30%;
                display: flex;
                flex-direction: column;
            }

            .blog-sidebar {

                .about-bubblecow {
                    padding-bottom: 1rem;

                    .about-bubblecow-title {
                        border-bottom: 1px solid $slate;
                        padding-bottom: 0.75rem;
                        margin-bottom: 1rem;
                    }

                    .about-bubblecow-text {
                        padding-bottom: 1rem;
                    }
                }

                .free-ebooks, .getting-started {
                    padding-bottom: 1rem;
                    
                    .free-ebooks-title, .getting-started-title {
                        padding-bottom: 0.5rem;
                    }

                }


            }

            ul {
        
            }
        
            li {
                list-style-type: disc;
                margin-left: rem;
            }
        }

    }
    
}

// POST

.post {

    .post-layout {

         // X-Large devices (large desktops, 1200px and up)
         @media (min-width: 1200px) { 
            display: flex;
            width: 40%;
            margin: auto;
            flex-direction: column;
            line-height: 1.5;
          }

        .post-title {
            margin-top: 2rem;
            margin-bottom: 2rem;
            text-align: center;
        }

        .post-meta {
            padding-left: 1rem;
            padding-top: 3rem;
            padding-bottom: 3rem;

            .post-category-badge {
                background: $pal-blue;
                color: #fff;
                padding: 0.4rem 0.8rem;
                border-radius: 5px;
            }

        }

        .post-content {

            padding-right: 1rem;
            padding-left: 1rem;

            h1,
            h2,
            h4,
            h5 {
                text-transform: capitalize;
                text-align: center;
            }
        

            .image-centre {
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

            .trix-content {
                h1 {
                    font-size: 2rem;
                    padding-bottom: 1rem;
                }
            }
        }

    }

    .post-advert {
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 5rem;
        padding-bottom: 3rem;
        margin-top: 3rem;
        border-top: 1px solid $sand;
        display: flex;
        flex-flow: column;
        justify-content: center;

         // Medium devices (tablets, 768px and up)
         @media (min-width: 768px) { 
            padding-right: 5rem;
            padding-left: 5rem;
          }

         // X-Large devices (large desktops, 1200px and up)
         @media (min-width: 1200px) {  
            display: flex;
            width: 40%;
            margin: auto;
            flex-direction: column;
            line-height: 1.5;
            padding-right: 5rem;
            padding-left: 5rem;
         }

        .advert-cover-image {
            align-self: center;
            padding-bottom: 1rem;
        }

        .advert-copy {
            .advert-text {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }

    }

    .post-author-byline {
        border-top: 1px solid $sand;
        padding-top: 3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-top: 3rem;
        display: flex;
        justify-content: center;

          // X-Large devices (large desktops, 1200px and up)
          @media (min-width: 1200px) {  
            width: 40%;
            margin: auto;
         }

         // XX-Large devices (larger desktops, 1400px and up)
         @media (min-width: 1400px) {  
 
         }

        .author-image {
            flex-basis: 30%;
            padding-right: 1rem;
            flex: 0 0 auto;
        }

        .author-byline {
            flex-basis: 70%;
        }
    }

}

// POST FORM
.post-form-container {
    display: flex;
}

.post-form-column-left {
    width: 65%;
    margin-right: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;

}

.post-form-column-right {
    padding-top: 1rem;
    width: 35%;
}


.post-form {


    .post-form-section {
        @include standard-border;
        padding: 1rem;
        margin-bottom: 1rem;

        .form-select,
        .form-control {
            margin-bottom: 1rem;
        }

        .form-label {
            text-transform: capitalize;
        }

        #post-section-submission {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                flex-grow: 2;
            }

            a {
                flex-grow: 2;
            }
        }
    }

}
