// Large devices (desktops, 992px and up) - this overrides mobile styling

@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {

  // DEVISE 

  /* log in form */

  .devise-form {
    width: 20%;
  }

  // NAVBAR

  .navigation-container {
    .navbar {
      width: 55%;
    }
  }

  // PAGES

  .page {
    width: 55%;
  }

  // BLOG

  .blog {
    width: 55%;

    .blog-main {
      flex: 2 0px;
      margin-right: 2rem;
    }

    .blog-sidebar {
      flex: 1 0px;
      margin-top: 0.5rem;
    }
  }

  // Post

  .post {
    width: 40%;

    .post-meta {
      font-size: 1rem !important;
    }

    .post-advert {
      padding-right: 5rem;
      padding-left: 5rem;
      flex-flow: row !important;

      .advert-cover-image {
        padding-right: 3rem;
      }
    }
  }

  // HOME

  .social-proof {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }

  .benefits {
    display: flex;

    .index-card {
      flex-grow: 1;
      width: 33%;
    }
  }

  .explanation {
    display: flex;
    flex-wrap: wrap;

    .explanation-text {
      flex-grow: 1;
      width: 50%;
      padding-right: 1rem;
    }

  }

  .index-testimonials {
    display: flex;
  }


  // BOOK EDITING
  .book-editing-benefits {
    display: flex;
    margin-top: 3rem;

    .book-editing-card {
      flex-grow: 1;
      width: 33%;

      h2 {
        font-size: 1.5rem;
      }
    }
  }

  .book-editing-pricing {
    margin-top: 2rem;

    .book-editing-pricing-text {
      h2 {
        text-align: center;
      }
    }
  }

  .book-editing-short-testimonials {
    margin-top: 2rem;
    display: flex;

    .book-editing-card {
      flex-grow: 1;
      width: 50%;
    }
  }

  .book-editing-long-testimonials {
    margin-top: 2rem;
    display: flex;

    .book-editing-card {
      flex-grow: 1;
      width: 50%;
    }
  }

  // SERVICES

  // Developmental Edits

  .developmental-edits-book-form {
    padding: 2rem;
  }


  // CONTACT

  #contact {
    width: 40%;
  }

}