// Developmental Edits

.developmental-edits-book-form {
    @include standard-border;
    margin-top: 1rem;
    padding: 1rem;

    h1 {
        padding-bottom: 1rem;
        border-bottom: 0.75px solid $slate;
    }

    h3 {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }

    p {
        padding-bottom: 0.5rem;
    }

    .submit-button {
        padding-top: 1.5rem;
    }
}

.developmental_edits_container {
    display: flex;
    flex-wrap: wrap;

    .developmental_edit_job_card {
        @include standard-border;
        margin-right: 2rem;
        padding: 1rem;
    }
}

// User show styling

#developmental_edit_show_user {
    display: flex;

    .section {
        @include standard-border;
        padding: 1rem;
        margin-bottom: 3rem;
        margin-top: 2rem;

        .title {
            font-size: 1.65rem;
            color: $pay-blue;
        }
    }

    .developmental_edit_show_user_header_row {
        h1 {
            font-size: 2rem;
        }
    }

    .developmental_edit_show_user_left_column {
        padding-bottom: 2rem;
    }

    .developmental_edit_show_user_right_column {}
}