// GLOBAL STYLES
/* These styles are independant of page style */

/* Box */
@mixin standard-border {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* Shadows */
.shadow-xs      {box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);}
.shadow-sm 	    {box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);}
.shadow 	    {box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);}
.shadow-md 	    {box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);}
.shadow-lg 	    {box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);}
.shadow-xl 	    {box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);}
.shadow-2xl     {box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);}
.shadow-inner 	{box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);}
.shadow-outline {box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);}

// BODY

body {
    font-family: Helvetica Neue Light,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
    a {
        color: $pay-blue;
        text-decoration: none;
    }
}


// TYPOGRAPHY

h1, h2, h3, h4, h5, h6 {
    color: $pay-blue;
}

blockquote {
    border-left: solid 2px $sand;
    padding-left: 1rem;
}

/* Styles proactive brand name */ 
.first-word {
    font-family: 'Sansita', sans-serif;
    color: $pal-blue;
}
.last-word {
    font-family: 'Sansita', sans-serif;
    color: $pay-blue;
}

// Trix bug fix - stop toolbar warp on mobile
trix-toolbar .trix-button-row {
    flex-wrap: wrap;
  }