/* 

PAGE STYLING

This is styling that applies to all pages with the 'page' class.


*/

.page {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    line-height: 1.5;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {  }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {  }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {  }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { 
        width: 55%;  
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        width: 55%;
    }

    .page-header {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

}