/* 

SERVICES STYLING

This is styling that applies to all services pages.

*/

// SERVICES FORMS

.services-form {

    margin-top: 2rem;

    h1 {
        margin-top: 1rem;
        margin-bottom: 4rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $slate;
    }

    .form-section {
        margin-bottom: 4rem;
    }

}

// JOB - styling for dev ed and sanple dev ed

.job {

    h1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .book-information, .book-description, .book-status, .book-files, .book-editor-notes {
        margin-bottom: 2rem;
    }

}