// Medium devices (tablets, 768px and up) - - this overrides mobile styling

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  // BLOG

  .blog {
    .blog-main {
      flex: 2 0px;
      margin-right: 1rem;
    }

    .blog-sidebar {
      flex: 1 0px;
      margin-top: 0.5rem;
    }
  }

  // POST

  .post {
    .post-advert {
      flex-wrap: nowrap !important;

      .book-cover {
        flex: 1 0px;
        padding-right: 2rem;
      }

      .cta-form {
        flex: 2 0px;
      }
    }
  }

  // HOME

  .index-testimonials {
    display: flex;
  }

  // BOOK EDITING
  .book-editing-benefits {
    display: flex;
    margin-top: 2rem;

    .book-editing-card {
      flex-grow: 1;
      width: 33%;

      h2 {
        font-size: 1.5rem;
      }
    }
  }

  .book-editing-pricing {
    margin-top: 2rem;

    .book-editing-pricing-text {
      h2 {
        text-align: center;
      }
    }
  }

  .book-editing-short-testimonials {
    margin-top: 2rem;
  }


}