.writer-dashboard-service-cards {
    display: flex;
    flex-direction: column;
    justify-content: centre;
    padding-bottom: 3rem;

    .writer-dashboard-service-card {
        @include standard-border;
        padding: 3rem;
        text-align: center;
        margin-bottom: 1rem;

        p {
            padding-top: 1rem;
        }
    }
}

.writer-dashboard-developmental-edits-cards {
    display: flex;
    flex-direction: column;
    justify-content: centre;
    padding-top: 2rem;

    .writer-dashboard-developmental-edits-card {
        @include standard-border;
        padding: 2rem;
        text-align: center;
        margin-bottom: 1rem;

        p {
            font-size: 1.25rem;
        }
    }
}