<% if user_is_editorial_staff %>

    <p>This sample edit has been rejected.</p>

<% elsif user_is_writer %>  

    <p>Unfortunately, we will not be able to provide a sample edit.</p>
    <p>You will receive an email with more information shortly.</p>

<% end %>

