<main class="page" id="service_price-show">

    <div class="page-header">
        <h1>Service Prices: <%= @service_price.service_type.titleize %></h1>
    </div>

    <p><%= @service_price.currency %></p>
    <p><%= @service_price.price %></p>

</main>