<p>Your sample feedback is now ready.</p>
<p>Click the links in the <strong>files</strong> section below to download your files.</p>
<%= link_to "Submit your book for Editing", new_services_developmental_edit_path, class: "btn btn-primary btn-block btn-lg" %>
