<footer class="page-footer">
  <section class="page-footer-content">
    
    <div class="footer-col" id="copyright">
      <!-- Copyright -->
      <p>Copyright &copy; BubbleCow <%= Time.current.year %></p>
    </div>

  </section>
</footer>

