<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <p class="lead"><%= pluralize(object.errors.count, "error") %> stopped this from being saved:</p>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>