<main class="page" id="writing_manual_download">

    <p class="mt-3">Download your free copy of the Writing Manual</p>

    <div class="mt-3">
        <%= link_to writing_manual_pdf_download_path, class: "btn btn-lg btn-primary btn-block" do %>
        <%= icon('fas', 'file-pdf') %>  
        Download The Writing Manual PDF
    <% end %>
    </div>

</main>
