<header>
  <div class="overlay"></div>
    <%= video_tag "write_and_erase.mp4", autoplay: true, muted: true, playsinline: true, loop: true %>
    <div class="container index-header h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Book Editing Services</h1>
                <h2 class="mb-0">Empowering writers to be successful</h2>
            </div>
        </div>
    </div>
</header>
