<div class="book-editing-pricing-text section-spacer">
  <h2 id="item-price-calculator ">Price Calculator</h2>
  <p>We use a simple pricing system, which is based on the cost per 1000 words.</p>
  <p>The cost for editing is <strong><%= @price %>  per 1000 words.</strong></p>
  <p>The price we quote is fully inclusive and will be the price you will pay to get your book edited. There are no hidden costs.</p>
  <p>The price includes all editing, consultation, and after-edit care.</p>
  <p>We have a minimum word count of 15,000 words.</p>
  <p><em>To calculate the cost of your edit, add your book's word count.</em></p>
</div>

<div class="container mt-5">
  <div data-controller="price-calculator" id="item-price-calculator">
    <h4 class="pb-2">Discover the cost of editing...</h4>
    <div class="card">
      <div class="card-body">

        <div class="input-group mb-3 pt-2">
          <span class="input-group-text" id="basic-addon1">Word Count</span>
          <input type="number" class="form-control form-control-lg" id="wordCount" data-action="input->price-calculator#calculate" data-price-calculator-target="wordCount">
        </div>

        <!-- This hidden div will store the product's price-per-word for our Stimulus controller -->
        <div data-price-calculator-target="productPrice" data-price="<%= @product_pricing.product_price %>"></div>

          <div class="alert alert-success" role="alert">
            <span class="lead">
              Cost to edit your book: </br>
              <span data-price-calculator-target="currencySymbol"><%= ProductPricing::CURRENCY_SYMBOLS[@product_pricing.currency] %></span><span data-price-calculator-target="result">0</span>
            </span>
          </div>

        </div>    

      </div>
    </div>
  </div>
</div>


