<main class="page" id="about">
    <h1 class="mb-3">The BubbleCow Story</h1>
 
    <p>In 2007, Gary Smailes was frustrated by the quality of editorial feedback available to self-publishing writers.</p>
    <p>He had worked extensively within the traditional publishing space for several years, and he understood that though there were many great, professional editors, they often had no understanding of how to 'translate' the kind of feedback they provided to the self-publishing space.</p>
    <p>The result was that self-publishing writers were mostly only able to access expensive, low-quality editorial feedback from editors that had little, if any, understanding of the true requirements of self-publishing writers.</p>
    <p>Gary was aware that most writers were working to a budget and that editors needed to provide a new, cost-effective service if these writers were to receive the type of feedback their books required.</p>
    <p>In the traditional publishing industry, it is common for editors to quote prices based on the length of a manuscript, the complexity of the prose, and even the genre. The result was that it was often impossible for a writer to receive an accurate quote for editing at the project's outset. This meant that not only were writers forced to jump through several hoops to get a quote for this book but, often, this cost would be incorrect, with the final cost spiraling as the editing dragged on beyond the initial assessment.</p>
    <p>Gary understood that if a self-publishing project was to be successful, then writers needed to be aware of all the costs at the outset, and these costs needed to be set in stone before the editing started. Only this way would a writer be able to accurately assess the budget required to publish a book.</p> 
    <p>To solve this problem and provide transparent and straightforward pricing for editorial feedback, he developed a much fairer 'cost per word' price structure. It was at this moment that BubbleCow was born.</p>

    <p><strong>Serving Writers</strong></p>
    <p>Today, BubbleCow is one of the leading editing companies and serves self-published writers from all around the world. BubbleCow has edited thousands of books and played a small part in countless writers achieving their dreams.</p>
    <p>At the company's heart is one fundamental belief: <em>storytelling is an art, but writing is a craft</em>.</p>

    <p><strong>Future</strong></p>
    <p> BubbleCow's goal is to provide world-class editorial feedback and customer support at a price that is affordable to self-published writers.</p>
    <p>We aim to inspire writers to spread big ideas by providing feedback that lifts a book to the next level.</p>
    <p>BubbleCow is an editing company that was born into the modern world of self-publishing. We have developed a way of editing that not only shows you what's wrong with your book but gives you all the guidance you need to fix the mistakes.</p>
    <p>This means we will not only tell you what is wrong with your book, but we will also provide you with the roadmap you need to fix these problems.</p>
    <p>For us, the quality of the feedback is everything.</p>

    <p><strong>Founder</strong></p>
    <p>Gary Smailes has a wide experience of the publishing industry and, over the years, has worked as a writer, historian, editor, and researcher. He has an eclectic educational background with a degree in biology and a post-graduate degree in military history from Liverpool University.</p>
    <p>Gary has written several <a href= "https://www.amazon.co.uk/Gary-Smailes/e/B00448TVDQ/ref=sr_ntt_srch_lnk_1?qid=1515004368&sr=8-1">books</a>, including the Brave Scot series, the Modern Hero series, and the BattleBooks series. He has more than twenty titles in print with various publishers. He also worked closely for many years with the successful author Terry Deary as the researcher for the ever-popular <a href= "https://en.wikipedia.org/wiki/Horrible_Histories_(book_series)">Horrible Histories</a> books and TV series.</p>
    <p>He continues to write for children and adults. He has several books due for publication. He is represented by literary agent <a href="http://www.andrewlownie.co.uk/authors/gary-smailes">Andrew Lownie</a>. Gary also often speaks publically about publishing, the writing process, and self-publishing.</p>
 
    <div class="embed-responsive embed-responsive-16by9 video my-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zLoXsjV4Ngg" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen class="embed-responsive-item"></iframe>
    </div>
</div>