<main class="book-editing-portal">

    <div class="row">

        <div class="col">

            <div class="header">
                <h1 class="pb-3">Learn More About Book Editing</h1>
                <p class="lead">If you want to discover more about book editing, you are in the right place.</p>
                <p class="lead">Book editing dosen't have to be complicated, all the information you need to decide on what's best for you and your book is below.</p>
                <p class="lead">We suggest you start with <a href="https://bubblecow.com/blog/what-is-book-editing">What is book editing?</a></p>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-sm-6">
        
            <!-- Book editing -->
            <div class="card mt-2">

                <div class="card-body">
                    <h2>Book</br> Editing</h2>
                    <hr>
                    <ul>
                        <li><a href="https://bubblecow.com/blog/what-is-book-editing" class="card-link">What Is Book Editing?</a></li>
                        <li><a href="https://bubblecow.com/blog/how-long-does-it-take-to-edit-a-book" class="card-link">How Long Does Editing A Book Take?</a></li>
                        <li><a href="https://bubblecow.com/blog/types-of-editing" class="card-link">Types Of Editing</a></li>
                        <li><a href="https://bubblecow.com/blog/book-editor" class="card-link">What Does A Book Editor Really Do?</a></li>
                        <li><a href="https://bubblecow.com/blog/developmental-editing-for-non-fiction" class="card-link">A Detailed Guide To Nonfiction Editing </a></li>
                    </ul>
                </div>
                
            </div>
        
        </div>

        <div class="col-sm-6">
        
            <!-- Manuscript assessment -->
            <div class="card mt-2">

                <div class="card-body">
                    <h2>Manuscript</br> Assessment</h2>
                    <hr>
                    <ul>
                        <li><a href="https://bubblecow.com/blog/is-a-manuscript-assessment-worth-it" class="card-link">Is a Manuscript Assessment Worth it?</a></li>
                        <li><a href="https://bubblecow.com/blog/manuscript-assessment-report" class="card-link">What to Expect From a Manuscript Assessment Report</a></li>
                        <li><a href="https://bubblecow.com/manuscript-assessment" class="card-link">BubbleCow's Manuscript Assessment Service</a></li>
                    </ul>
                </div>
                
            </div>
        
        </div>

        <div class="col-sm-6">
        
        <!-- Developmental editing -->
            <div class="card mt-2">

                <div class="card-body">
                    <h2>Developmental</br> Editing</h2>
                    <hr>
                    <ul>
                        <li><a href="https://bubblecow.com/blog/what-is-development-editing" class="card-link">A Detailed Guide To Developmental Editing</a></li>
                        <li><a href="https://bubblecow.com/blog/developmental-editing-cost" class="card-link">How Much Does Developmental Editing Cost?</a></li>
                        <li><a href="https://bubblecow.com/blog/how-long-does-a-developmental-edit-take" class="card-link">How Long Does Developmental Editing Take?</a></li>
                        <li><a href="https://bubblecow.com/blog/developmental-editing-checklist" class="card-link">Developmental Editing Checklist</a></li>
                        <li><a href="https://bubblecow.com/book-editing" class="card-link">BubbleCow's developmental editing service</a></li>
                    </ul>
                </div>
                
            </div>
        
        </div>

        <div class="col-sm-6">
        
            <!-- Mentoring -->
            <div class="card mt-2">

                <div class="card-body">
                    <h2>Mentoring</h2>
                    <hr>
                    <ul>
                        <li><a href="https://bubblecow.com/blog/book-coach" class="card-link">What is Mentoring (book coaching)?</a></li>
                        <li><a href="https://bubblecow.com/mentoring" class="card-link">BubbleCow's Mentoring Service</a></li>
                    </ul>
                </div>
                
            </div>
        
        </div>

    </div>

</div>

