<main class="book-editing-portal">

    <div class="row">

        <div class="col">

            <div class="header">
                <h1 class="pb-3">Learn More About Book Editing</h1>
                <p>If you want to discover more about book editing, you are in the right place. Book editing dosen't have to be complicated, </br> all the information you need to decide on what's best for you and your book is below.</p>
                <p class="lead">We suggest you start with <a href="https://bubblecow.com/blog/what-is-book-editing">What is book editing?</a></p>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-sm-6">
        
            <!-- Book editing -->
            <div class="card">

                <div class="card-body">
                    <h2>Book Editing</h2>
                    <p class="card-text">If you want to find out about book editing in general, start here. You will learn all of the important information about the editorial process.</p>
                    <ul>
                        <li><a href="https://bubblecow.com/blog/what-is-book-editing" class="card-link">What Is Book Editing?</a></li>
                        <li><a href="https://bubblecow.com/blog/types-of-editing" class="card-link">Types Of Editing</a></li>
                        <li><a href="https://bubblecow.com/blog/book-editor" class="card-link">What Does A Book Editor Really Do?</a></li>
                        <li><a href="https://bubblecow.com/blog/how-to-get-the-most-from-a-professional-book-edit" class="card-link">How To Get The Most From Your Professional Book Edit</a></li>
                        <li><a href="https://bubblecow.com/blog/how-long-does-it-take-to-edit-a-book" class="card-link">How Long Does Editing A Book Take?</a></li>
                        <li><a href="https://bubblecow.com/blog/developmental-editing-for-non-fiction" class="card-link">A Detailed Guide To Nonfiction Editing </a></li>
                    </ul>
                </div>
                
            </div>
        
        </div>

        <div class="col-sm-6">
        
        <!-- Developmental editing -->
            <div class="card">

                <div class="card-body">
                    <h2>Developmental Editing</h2>
                    <p class="card-text">Developmental editing is the first step in the editorial process. These articles will teach you all you need to kow about editing and what will work for your book. </p>
                    <ul>
                        <li><a href="https://bubblecow.com/blog/what-is-development-editing" class="card-link">A Detailed Guide To Developmental Editing</a></li>
                        <li><a href="https://bubblecow.com/blog/developmental-editing-cost" class="card-link">How Much Does Developmental Editing Cost?</a></li>
                        <li><a href="https://bubblecow.com/blog/how-long-does-a-developmental-edit-take" class="card-link">How Long Does Developmental Editing Take?</a></li>
                        <li><a href="https://bubblecow.com/blog/developmental-editing-checklist" class="card-link">Developmental Editing Checklist</a></li>
                        <li><a href="https://bubblecow.com/book-editing" class="card-link">BubbleCow's developmental editing service</a></li>
                    </ul>
                </div>
                
            </div>
        
        </div>

    </div>

</div>

