<main class="page" id="thanks">
    <h1 class="mb-3">Thank You</h1>
    <p>Your payment has been processed. We will be in touch shortly.</p>
    <p>In the meantime, I suggets you check out this free book we created to help writers <%= link_to writing_manual_path %></p> 
</div>