<main class="page" id="thanks">
    <h1 class="mb-3">Thank You</h1>
    <p>Your payment has been processed. We will be in touch shortly.</p>
    <p>In the meantime, I suggets you check out <%= link_to "this free ebook", writing_manual_path %> we created to help writers.</p> 
</div>