<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="customer_pages">

        <div class="customer_pages__header">
            <h1 class="customer_pages__header__title">Thank You</h1>
        </div>
    
        <section class="customer_pages__content">
             <p>Your payment has been processed. We will be in touch shortly.</p>
        </section>
   

</div>
</div>
</div>

