<div class="header">
    <h1>The Writing Manual</h1>
</div>

<div class="body">

   <p><strong>Imagine spending years writing a novel, only to have readers and reviewers tell you it is boring!</strong></p>
        <p>This free ebook will show you how to write in a way that will keep readers reading until the last page.</p>
        <p>The foundation of this book is that storytelling is an art, but writing is a science.</p>
        <p>This means that though you may not be able to teach storytelling, you can teach writers the best possible way to tell their stories.</p>
        <p>This book sets out to provide a ‘best practice’ for writers.</p>
        <p>It discards the out-dated idea that writers are born, and sets about detailing the techniques any novel writer can use to make their book more appealing to their readers.</p>
        <p>The book never attempts to tell writers what they should write, but instead focuses on guiding writers in ways of writing that will avoid readers becoming bored.</p>
        <p>Ultimately, the techniques taught aim to stimulate emotions in readers, forcing them to engage with your story and keep on reading.</p>

        <div class="card">
          <div class="card-header">
            <p class="lead text-center my-4">Download your free ebook</p>
          </div>
          <div class="card-body">
            <%= render 'blog/posts/adverts/writing_manual'%>
          </div>
        </div>
      </div>

      <div class="card mt-3">
          <div class="card-body">
              <blockquote>“I've read a lot of books on the craft, but this one was the most enjoyable and the most helpful. To top it off, it's free at Bubblecow.com. Thanks Gary for an awesome resource.” Phil Williams</blockquote>
          </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <blockquote>“Hemingway versus EL James?. If you aspire to the former and not the latter, then this book is for you; but be warned this is no foray into easy territory; you will be called upon to jettison every lazy mindless habit of poor technique you've ever assimilated or learned. Simultaneously you will be asked to dig deep into the all of everything that you think you do not know. In that respect this book is quite confronting, but for those that want to improve, then it is definitely a call to rise and meet the challenge and grow within the craft; other than Mckee and Egri, it is probably one of the best books on writing I've read so far. Thank you Mr Smailes. Simple, invaluable and most impressively - free.” Miz Bent</blockquote>
        </div>
      </div>
</div>

