
  <h2 id="price-calculator" class="product_pages__content-title">Price Calculator</h2>
  <p>We use a simple pricing system, which is based on the cost per 1000 words.</p>
  <p>The base cost is <strong><%= @price %>  per 1000 words.</strong></p>
  <p>The price we quote is fully inclusive. There are no hidden costs.</p>
  <p>The price includes all editorial feedback, consultation, and after-edit care.</p>
  <p><em>To calculate the cost, just add your book's word count.</em></p>


<div class="container mt-5">
  <div data-controller="price-calculator" id="item-price-calculator">
    <h3 class="product_pages__content-subtitle">Discover the cost...</h4>
    <div class="card">
      <div class="card-body">

        <div class="input-group mb-3 pt-2">
          <span class="input-group-text" id="basic-addon1">Word Count</span>
          <input type="number" class="form-control form-control-lg" id="wordCount" data-action="input->price-calculator#calculate" data-price-calculator-target="wordCount">
        </div>

        <!-- This hidden div will store the product's price-per-word for our Stimulus controller -->
        <div data-price-calculator-target="productPrice" data-price="<%= @product_pricing.product_price %>"></div>

          <div class="alert alert-success" role="alert">
            <span class="lead">
              Total cost for your manuscript: </br>
              <span data-price-calculator-target="currencySymbol"><%= ProductPricing::CURRENCY_SYMBOLS[@product_pricing.currency] %></span><span data-price-calculator-target="result">0</span>
            </span>
          </div>

        </div>    

      </div>
    </div>
  </div>
</div>


