
<h1>Create a new book...</h1>
<p>To use any of our editorial services you must first create a book. This will then allow you to select the correct service for you and your book.</p>

<%= render partial: 'form' %>


