<section class="header">
    <h1 class="pb-3">Create a new book...</h1>

    <div class="alert alert-success" role="alert">
        To use any of our editorial services you must first create a book. This will then allow you to select the correct service for you and your book.
    </div>
   
</section>

<%= render partial: 'form' %>


