<li><%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %></li>
<li><%= link_to "Courses", courses_path, class: "dropdown-item" %></li>
<li><%= link_to "Ebooks", ebooks_path, class: "dropdown-item" %></li>