<div class="row justify-content-center">
  <div class="col-xl-6 col-lg-8 col-md-10 col-12">

    <!-- Header  -->
    <div class="lesson_header">
      <h1 class="lesson_header__title">Edit <%= @lesson.title.titleize %></h1>
    </div>
    
    <%= render 'form', lesson: @lesson %>

  </div>
</div>

