<p>A new edit has been submitted.</p>
<p>This needs to be assesed and either accepted or rejected.</p>

<div class="btn-group" role="group">
	<%= link_to "Accept", developmental_edit_accepted_services_developmental_edit_path(@developmental_edit), data: { "turbo-method": :put}, class: "btn btn-success" %>
	<%= link_to "Reject", developmental_edit_rejected_services_developmental_edit_path(@developmental_edit), data: { "turbo-method": :put}, class: "btn btn-danger" %>
</div>