// Styling for blog main page (posts index)

.blog {
    h1 {
       margin-bottom: 2rem;
    }
    .post-meta {
        margin-bottom: 1rem;
    }
}

.post {
    .post-meta {
        margin-bottom: 3rem;
    }
}
