// Global styles

/* Brand colouring */
.proactive-brand-colouring {
    color: $pay-blue;
}
    
.writer-brand-colouring {        
    color: $pal-blue;
}

/* links */
a:visited {
    color: $pay-blue;
}

.brand_font {
    font-family: 'Sansita', sans-serif;
}
