// Global styles

/* Font */
.body-header {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.brand_font {
    font-family: 'Sansita', sans-serif;
}

.blockquote {
    p {
        font-style: italic;
        padding-left: 1rem;
        border-left: solid;
        border-color: $pal-blue;
    }
}

/* Brand colouring */
.proactive-brand-colouring {
    color: $pay-blue;
    font-family: 'Sansita', sans-serif;
}
    
.writer-brand-colouring {        
    color: $pal-blue;
    font-family: 'Sansita', sans-serif;
}

/* Spacing */

.row-divider {
    margin-top: 3em;
    margin-bottom: 3em;
}

.image {
    margin-top: 2rem;
    margin-bottom: 2rem;
}