// Devise form

.deviseForm {
    margin-top: 1em;
    margin-bottom: 2em;
  }
  
  .deviseForm h1 {
    text-align: center;
    font-size: 1.875rem;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 1em;
  }
  
  .deviseForm .btn {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .deviseSeparator {
      border-top: 1px solid #cbd2d6;
      position: relative;
      margin: 40px 0 20px;
      text-align: center;
  }
  
  .deviseSeparator .textInSeparator {
      background-color: #fff;
      padding: 0 .5em;
      position: relative;
      color: #999;
      top: -.7em;
  }
  