// Global styles

/* Brand colouring */
.proactive-brand-colouring {
    color: $pay-blue;
    font-family: 'Sansita', sans-serif;
}
    
.writer-brand-colouring {        
    color: $pal-blue;
    font-family: 'Sansita', sans-serif;
}

.brand_font {
    font-family: 'Sansita', sans-serif;
}

.row-divider {
    margin-top: 3em;
    margin-bottom: 3em;
  }