// Styling for home controllers

// Index

.index-header {
    h1 {
        color: white;
    }
    h2 {
        color: $pale-sand;
    }
    .home-cta-btn {
      padding-top: 3rem;
    }
}

.social-proof {
  margin-top: 2em;
  margin-bottom: 2em;

    #lead-text {
      font-size: 1.3rem;
      vertical-align: middle;
      margin-right: 50px;

      // Extra small devices (portrait phones, less than 576px)
      @media (max-width: 575.98px) { display: none; }

      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) and (max-width: 767.98px) { display: none; }
    }

    #matador {
      width: 150px;
      height: 36px;
      margin-right: 50px;
    }

    #tedx {
      width: 116px;
      height: 36px;
      margin-right: 50px;
    }

    #creativepenn {
      width: 96px;
      height: 36px;
      margin-right: 50px;
    }

    #goonwrite {
      width: 124px;
      height: 36px;
      margin-right: 50px;

      // Extra small devices (portrait phones, less than 576px)
      @media (max-width: 575.98px) { display: none; }

      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) and (max-width: 767.98px) { display: none; }

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) and (max-width: 991.98px) { display: none; }

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) and (max-width: 1199.98px) { display: inline }

      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) { display: inline }
    }

    #pressbooks {
      width: 205px;
      height: 36px;

      // Extra small devices (portrait phones, less than 576px)
      @media (max-width: 575.98px) { display: none; }

      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) and (max-width: 767.98px) { display: none; }

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) and (max-width: 991.98px) { display: none; }

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) and (max-width: 1199.98px) { display: none }

      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) { display: inline }
    }
  }


// Header video

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }