<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><em><%= @message.sender_name.titleize %></em> has sent you the following message:</p>
    <p><%= @message.content %></p>
  </body>
</html>
