<p>Hi <%= @sample_developmental_edit.user.first_name %>.</p>
<p>Thanks for submitting your book for a free sample edit.</p>
<p>I'll take a look at your extract and be in touch shortly to let you know if I feel we can add value.</p>
<p>In the meantime, feel free to email me with any questions.</p>
<p>Gary Smailes</p>
