<p>Hi.</p>
<p>Your sample edit has now been completed and is ready for you to download the files.</p>
<p>Just click <%= link_to "here", services_sample_developmental_edit_url(@sample_developmental_edit) %> and log into your account.</p>
<p>If you have any questions or problems, just hit reply.</p>
<p>Gary Smailes</p>