<p>Hi</p>
<p>Thanks for submitting your book for sample developmental editing.</p>
<p>I am delighted to say that I feel we can add value to your book and will be happy to carry out a sample edit.</p>
<p>However, before we proceed we found that it is helpful for writers if we clealey lay out the cost and time frame of a full edit.</p>
<p>This sample developmental edit will be carried out FREE OF CHARGE.</p>
<p>If you were happy with the sample edit and wished to proceed to a full edit the cost would be be <%= developmental_edit_cost %>.</p>
<p>This is based on a word count of <%= proposed_developmental_edit_due_date %>. If this word count alters, the cost will also alter. You can find a cost calculatore here: <a hre</p>
<p>All developmental edits are completed within twenty-eight working days of payment. Please ensure that your publication timetable allows time for both this edit, plus any extra re-writes. We norally suggest you allow one-to-two weeks for rewrites. However, the actual time will be based on the amount of work required and your writing timetable.</p>
<p>If you are happy with both the potential cost and the editing timetable, then I woudl love to provide you with a free sample edit.</p>
<p>To proceed, just hit reply and let us know that you are happy to move forward.</p>
<p>If you have any questions, please don't hesitate to ask either via email or we can set up a chat.</p>
<p>Gary Smailes</p>

SPELL CHECK THIS BAD BOY