<div class="row mt-5 justify-content-lg-center text-center">

    <div class="col">

        <div class="card mb-3">
            <div class="card-body">
                <h1 class="card-title">Developmental Editing</h1>
                <p class="card-text">To get started either submit for a free sample edit or submit for a full paid edit.</p>
                <div class="dashboard-getting-started__card-buttons">
                    <%= link_to "Free Sample Edit", new_services_sample_developmental_edit_path, class: "btn btn-outline-primary btn-lg mt-3" %>
                    <%= link_to "Full Paid Edit", new_services_developmental_edit_path, class: "btn btn-primary btn-lg mt-3" %>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row mt-3 justify-content-lg-center">

    <div class="col-12 col-lg-6">

        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title dashboard__card-title text-center">Free Courses</h2>
                <ul>
                    <% @courses.each do |course| %>
                        <li><%= link_to course.title.titleize, course_path(course)%></li>
                    <% end %>
                </ul>
  
            </div>
        </div>

    </div>

    <div class="col-12 col-lg-6">

        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title dashboard__card-title text-center">Free eBooks</h2>
                <ul>
                    <% @ebooks.each do |ebook| %>
                        <li><%= link_to ebook.title.titleize, ebook_path(ebook)%></li>
                    <% end %>
                </ul>
            </div>
        </div>

    </div>

</div>