<main class="page" id="admin-dashboard">

    <h1>Admin Dashboard</h1>

    <p>This pages should be something of value, it should be a summary of key stuff to look at each day, such as site stats and key metrics.</p>

</main>