<div class="row justify-content-center">
  <div class="col-xl-6 col-lg-8 col-md-10 col-12">

    <!-- Header  -->
    <div class="course_header">
      <h1 class="course_header__title">New Course</h1>
    </div>

    <%= render 'form', course: @course %>

  </div>
</div>


