

        <!-- Header  -->
        <div class="header">
          <h1 class=""><%= @course.title %></h1>
        </div>

        <!-- Course description -->
        <div class=""><%= raw @course.description %></div>

        <!-- Lessons -->
        <div class="card mt-3">
          <div class="card-header">
            <h2>Lessons</h2>
          </div>
          <ul class="list-group list-group-flush hoverable-list">
            <% @course.lessons.order(position: :asc).select(&:persisted?).each do |lesson| %>
              <li class="list-group-item mb-0 hoverable-list__item">
                <%= link_to lesson.title, course_lesson_path(@course, lesson), class: "hoverable-list__link" %>
              </li>
            <% end %>
          </ul>
        </div>



