<section class="page-header">
  <h1><%= @course.title.titleize %></h1>
</section>

<section class="page-body">

  <%= course_description(@course) %>

  <div class="card mt-3 shadow p-3 mb-5 bg-body rounded">

    <div class="card-body">

      <h2>Lessons</h2>

      <ol>

        <% @lessons.each do |lesson| %>
          <li><%= link_to lesson.title.titleize, course_lesson_path(@course, lesson) %></li>
        <% end %>

      </ul>

    </div>

  </div>

</section>