<main class="page" id="developmental-edit-form-edit">

    <div class="services-form">
        <h1>Edit <%= @developmental_edit.title.titleize%></h1>

        <%= render 'form', developmental_edit: @developmental_edit %>
    </div>

</main>
