<main class="page" id="developmental-edit-form-edit">

    <div class="developmental-edits-book-form">
        <h1>Submit Your Book for Editing</h1>
        <%= render 'form', developmental_edit: @developmental_edit %>
    </div>

</main>
