<div class="header">
    <h1>Submit your book for developmental editing</h1>
</div>

<div class="card">
    <div class="card-body">
        <%= render 'form', sample_developmental_edit: @developmental_edit %>
    </div>
</div>