<main class="page" id="developmental-edit-form-new">

    <div class="services-form box">
        <h1>Submit your book for developmental editing</h1>
        <%= render 'form', developmental_edit: @developmental_edit %>
    </div>

</main>
