<p>Your edit feedback was completed on <%= @developmental_edit.edit_return_date.strftime("%B %d, %Y") %>, and is now ready.</p>
<p>Click the links in the <strong>files</strong> section below to download your files.</p>