<p>Your manuscript has been assessed, and I am glad to say that we can add value and will provide an edit.</p>
<p>You will shortly receive an email with payment details to <%= current_user.email %>.</p>