
<%= form_for([:services, @genre]) do |form| %>

  <% if genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
      <% genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input">
    <%= form.text_field :genre_type, class: 'form-control', placeholder: "Add the title of the genre", required: true %>
  </div>

  <div class="button">
    <% if genre.new_record? %>
      <div class="d-grid gap-2 my-4">
        <button type="submit" class="btn btn-primary">Create genre</button>
      </div>
    <% else %>
      <div class="d-grid gap-2 my-4">
        <button type="submit" class="btn btn-primary">Update genre</button>
      </div>
    <% end %>
  </div>


<% end %>
