<h1><%= @genre.genre_type %></h1>

<div class="box">
  <p>Developmental Edits</p>
  <% @genre.developmental_edits.each do |developmental_edit| %>
    <ul>
      <li><%= developmental_edit.title %></li>
    </ul>
  <% end %>

</div>