<main class="blog">

  <section class="blog-layout">

    <div class="blog-layout-left">

        <!-- Category title -->
        <h1><%= @post_author.name.titleize %> Articles</h1>

         <% @post_author.posts.published.each do |post| %>
          <!-- blog post layout -->
          <%= render "shared/blog_post_layout", post: post %>
        <% end %>
    </div>

    <div class="blog-layout-right">
      <!-- blog sidebar -->
      <%= render "shared/blog_sidebar" %>
    </div>

  </section>

</main>