<section class="page-header">
    <h1><%= @post_author.name.titleize %> Articles</h1>
</section>

<section class="page-body">
  <div class="row">

    <div class="col-lg-8  ">
      <!-- Left column -->
      <% @post_author.posts.published.each do |post| %>
       <!-- blog post layout -->
       <%= render "shared/blog_post_layout", post: post %>
     <% end %>
    </div>

    <!-- Right column -->
    <div class="col-lg-4 ">
      <!-- blog sidebar -->
      <%= render "shared/blog_sidebar" %>
    </div>

  </div>
</section>

