/* Styling for the blog post page. */
.post {

    h1 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    h2, h3 {padding-top: 1rem;}

    .metadata {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .advert {

        .divider {
            margin-top: 3rem;
            margin-bottom: 3rem;
            border-top: 1px solid $sand;
        }
        
        .cover-image {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    .toc {
        margin-bottom: 2rem;
    }

    [itemprop="name"] {
       font-size: 1.2rem !important;
      }
}