/* Elements of BubbleCow branding */

.brand-first-word, .brand-second-word {
    font-family: 'Sansita', sans-serif;
}

.brand-first-word {
    color: $pay-blue;
}

.brand-second-word {
    color: $pal-blue;
}
