// Styles all courses and lessons

// Styles the index page
.courses_page {
    
  .courses-page__header {
      // styles the header
      margin-top: 3rem;
      margin-bottom: 2rem;

      .courses-page__header-title {
          // styles the header title
          @include header-text;
      }

      .courses-page__header-subtitle {
          // styles the header subtitle
          font-size: 1.2rem;
      }
  }

  .courses_page__course-card {
    // Styles the course card

    h2 {
      // Style title 
      @include header-text;
    }
  }
}


.course_header, .lesson_header {
    margin-top: 3rem;
    margin-bottom: 3rem;
    &__title {
        @include header-text;
    }
}


.hoverable-list {
    &__item {
      transition: background-color 0.3s ease; // Smooth transition effect
      cursor: pointer; // Changes the cursor to a hand when hovering
      border-radius: 5px; // Rounded corners
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Subtle shadow
      margin-bottom: 0; // As per your styles
  
      &:hover {
        background-color: #f5f5f5; // Gray background on hover
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); // Slightly more pronounced shadow on hover
      }
    }
  
    &__link {
      text-decoration: none; // Removes the underline
      color: inherit; // Inherits the color from its parent, which should be the default
      display: block; // As per your styles
      position: relative; // As per your styles
  
      &:hover {
        color: inherit; // Keeps the color the same even on hover
      }
    }
  }
  


