// Styling messages

.message_page {
    
    .message-page__header {
        // styles the header
        margin-top: 3rem;
        margin-bottom: 2rem;

        .message-page__header-title {
            // styles the header title
            @include header-text;
        }

        .message-page__header-subtitle {
            // styles the header subtitle
            font-size: 1.2rem;
        }
    }
}