/* 

This is to add all non-bootstrap styling elements. 
The ethos for the theme is to keep the styling to a minimum. Where possible elements should be repeated. 
If possible resist creating custom styles. Use either exsisting style or BootStrap. 

1. Mixins
2. Colours
3. Global
4. Typography
5. Navbar
6. Branding
7. Page Header
8. Blog
9. Post
10. Trix
11. Devise
12. Forms
13. FAQ

APPLICATION TEMPLATE
This is the default page template and should be used whenever possible.

The main exception is for a yeild that requires a full-width element.

The layout for the page should be:


    <section class="page-header">
        <h1>TITLE</h1>
    </section>

    <section class="page-body">
    </section>

FULL WIDTH TENMPLATE
This is using 'container-fluid' and is a full width template. 

<!-- single column -->
<div class="row justify-content-md-center section-spacer">

    <div class="col-sm col-lg-6">
    </div>

</div>

<!-- Three column layout -->
<div class="row mb-3">
  
    <div class="col-sm-4">
    </div>

    <div class="col-sm-4">
    </div>

    <div class="col-sm-4">
    </div>

</div>

<!-- Four column layout -->
<div class="row mb-3">
  
    <div class="col-sm-6 col-lg-3">
    </div>

    <div class="col-sm-6 col-lg-3">
    </div>

    <div class="col-sm-6 col-lg-3">
    </div>

    <div class="col-sm-6 col-lg-3">
    </div>

</div>


*/

// 1. MIXINS
/* These are site wdie mixins. */

@mixin standard-border {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

@mixin backend-box {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    background-color: white;
    padding: 1rem;
}

// 2. COLOURS
/* These are sitewide colours. */

// Primary colours - These should always be considered as the primary colors. Black is to be used very sparingly.
$pay-blue: #00457C !default;
$pal-blue: #0079C1 !default;

// Neutral colours - The neutral palette is intended to be used sparingly to organize information and create functional environments
$sand: #959484 !default;
$pale-sand: #E7E5D3 !default;
$slate: #717074 !default;
$pale-slate: #E6E7E8 !default;
$paler-slate: #f3f5f7 !default;
$night: #2c2e2f !default;

// Accent colours - use the accent palette to create visual interest and engagement. Please note the color pairings, the colors that appear next to one another are intended to be used together, DO NOT mix 

$leaf: #6DB33f !default;
$lime: #C2CD23 !default;
$sea: #007C85 !default;
$aqua: #26BCD7 !default;
$tomato: #B32317 !default;
$tangerine: #f8981D !default;
$plum: #7A003C !default;
$berry: #f15f7C !default;

$primary: $pal-blue;
$secondary:  $pale-slate;
$success: $leaf;
$info: $aqua;
// $warning:    $warning,
$danger: $plum;

// 3. GLOBAL
/* These are elements that affect the whole site and are not specific to one thing. */

body {
    a {
        text-decoration: none;
    }
}

.section-spacer {
    margin-top: 5rem !important;
}

.image {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.remove_top_padding {
    padding-top: 0rem !important;
}

.box{
    @include backend-box();
}

// 4. TYPOGRAPHY
/* Everything to do with fonts. */

//Font
$font-family-base: 'Poppins', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $pay-blue;
    text-transform: capitalize;
}


h2 {
    font-size: 1.8rem !important;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

h3 {
    font-size: 1.5rem !important;
}

h4 {
    font-size: 1.3rem !important;
}

blockquote {
    p {
        font-size: 1rem !important;
    }
    border-left: solid 2px $sand;
    padding-left: 1rem;
}

// 5. NAVBAR
/* Styling of the navbar */

.navbar {
    margin-bottom: 0rem;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.05);
    -webkit-animation: navigation 0.6s;
}

// 6. BRANDING
/* Elements of BubbleCow branding */

.brand-first-word, .brand-second-word {
    font-family: 'Sansita', sans-serif;
}

.brand-first-word {
    color: $pay-blue;
}

.brand-second-word {
    color: $pal-blue;
}

// 7. PAGE HEADER
/* Styling for the page header. */

.page-header {
    padding-bottom: 2rem;
}

// 8. BLOG
/* Styling for the blog page. */

.blog {

    .post {
        .metadata {
            font-size: 0.9rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .description {
            margin-bottom: 1rem;
        }
    }

    .sidebar {
        .item {
            margin-bottom: 2rem;
        }
    }

}

// 9. BLOG
/* Styling for the blog post page. */
.post {

    h1 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .metadata {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .advert {

        .divider {
            margin-top: 3rem;
            margin-bottom: 3rem;
            border-top: 1px solid $sand;
        }
        
        .cover-image {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
}

// 10. TRIX

/* Removes attachment from trix */
.trix-button-group--file-tools {
    display: none !important;
}

/* Trix bug fix - stop toolbar warp on mobile */
trix-toolbar .trix-button-row {
    flex-wrap: wrap;
}

// 11. DEVISE

.devise-form {
    margin-top: 3rem;
    padding: 3rem;
    @include standard-border();

    .header {
        text-align: center;
        margin-bottom: 3rem;
    }

    .form {
  
        .forgotten-password-link {
            margin-top: 2rem;
            text-align: center;
            a {
                text-decoration: none;
                font-size: 0.8rem;
            }
        }

        .divider {
            border: 1px solid rgba(0, 0, 0, .125);
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }
}
// 12. FORMS 

form {
    .input, .button {
        margin-bottom: 1rem;
    }

    .text_area_size_maximum {
        min-width: 100%;
        height: 1000px;
    }
}

// 13. FAQ

.faq {
    h3 {
        font-size: 1.4rem !important;
        padding-top: 1rem;
    }
}