<p>A new sample edit has been submitted.</p>
<p>This needs to be assesed and either accepted or rejected.</p>

<div class="btn-group" role="group">
	<%= link_to "Accept", sample_developmental_edit_accepted_services_sample_developmental_edit_path(@sample_developmental_edit), data: { "turbo-method": :put}, class: "btn btn-success" %>
	<%= link_to "Reject", sample_developmental_edit_rejected_services_sample_developmental_edit_path(@sample_developmental_edit), data: { "turbo-method": :put}, class: "btn btn-danger" %>
</div>