<section class="page-header">
  <h1>Post Categories</h1>
</section>

<section class="page-body">
  <div class="box">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Parent Category</th>
          <th scope="col" colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @post_categories.each do |post_category| %>
          <% if post_category.parent_category.nil? %>
            <%= render 'category_row', category: post_category, level: 0 %>
            <% post_category.child_categories.each do |child_category| %>
              <%= render 'category_row', category: child_category, level: 1 %>
              <!-- Add more nesting levels here if needed -->
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'New Category', new_blog_post_category_path, class: "btn btn-primary" %>

</section>
