<div class="row justify-content-center">
  <div class="col-12 col-lg-8">
    <div class="customer_pages">

    <div class="customer_pages__header">
        <h1 class="customer_pages__header__title"><%= @post_category.name.titleize %></h1>
    </div>


<section class="page-body">
  <div class="row">

    <div class="col-lg-8  ">
      <!-- Left column -->
      <% @post_category.posts.published.each do |post| %>
        <!-- blog post layout -->
        <%= render "shared/blog_post_layout", post: post %>
      <% end %>
    </div>

    <!-- Right column -->
    <div class="col-lg-4 ">
      <!-- blog sidebar -->
      <%= render "shared/blog_sidebar" %>
    </div>

  </div>
</section>


</div>
</div>
</div>


