<!-- Header -->
<div class="header post-category-show__header">
    <h1 class="post-category-show__header-title"><%= @post_category.name.titleize %></h1>
</div>

<!-- Body -->
<section class="row">

    <!-- Left column for Posts -->
    <div class="col-lg-8">
        <% @post_category.posts.published.each do |post| %>
            <!-- Individual Blog Post -->
            <%= render "shared/post_card", post: post %>
        <% end %>
    </div>

    <!-- Right column for Sidebar -->
    <div class="col-lg-4">
        <!-- Blog Sidebar Content -->
        <%= render "shared/posts_sidebar" %>
    </div>

</section>





