<main class="page" id="testimonials">

  <h1 class="mb-4">Testimonials</h1>
  <% @testimonials.each do |testimonial| %>
    <div class="testimonial-card">
        <p><%= testimonial.testimonial_text %></p>
        <h6><%= testimonial.writer.titleize %></h6>
      </div>
    </div>
  <% end %>

</main>
