

<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="customer_pages">

        <div class="customer_pages__header">
            <h1 class="customer_pages__header__title">Testimonial</h1>
        </div>
    
        <section class="customer_pages__content">
            <dl class="dl-horizontal">
            <dt>Writer:</dt>
            <dd><%= @testimonial.writer %></dd>
            <dd><%= @testimonial.testimonial_text %></dd>
            </dl>

        </section>
   

</div>
</div>
</div>





