


<div class="row">
  <div class="col-sm-6">
    <h1>Dev_edit_samples</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_dev_edit_sample_path, class: 'btn btn-primary' do %>
    Add New Dev edit sample
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Book</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @dev_edit_samples.each do |dev_edit_sample| %>
        <%= content_tag :tr, id: dom_id(dev_edit_sample), class: dom_class(dev_edit_sample) do %>
          

                      <td><%= dev_edit_sample.book_id %></td>
          
          
            <td><%= link_to 'Show', dev_edit_sample %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
