<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>

      <!-- notices -->
      <%= render 'shared/notices' %>
      
      <main class="admin-container">
    
         <section class="admin-main">
        
            <section class="admin-top-navigation">
               <%= render 'shared/navigation/admin_navbar' %>
            </section>
 
            <section class="admin-information">
               <%= yield %>
            </section>
    
         </section>

      </main>
  </body>
</html>